* {
  box-sizing: border-box;
}

body {
  background-color: #023047;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.link-container {
  display: inline-block;
  margin: 0 auto;
  max-width: 20%;
  border: 1px solid #fb5607;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: #fb5607;
}

.link-container img {
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.link-container img:hover {
  /* margin: -1rem -1rem 0; */
  margin-left: -1rem;
  margin-right: -1rem;
}

h1 {
  font-size: 3.5rem;
  color: #c90;
}

a {
  display: inline-block;
  font-size: 1.2rem;
  color: #023047;
  text-decoration: none;
}

.link-container:hover,
.link-container:hover a,
a:hover {
  background-color: #023047;
  color: #fb5607;
  border-color: #f00;
}

/* recipe page */

.container img {
  border-radius: 1rem;
}

/* recipe description */

p {
  color: #e0e1dd;
  font-size: 1.2rem;
}

/* recipe cards */

.card {
  background-color: #415a77;
}

li {
  color: #edf2f4;
  margin-top: 1.5rem;
  padding: 1.2rem;
  width: 50%;
  margin: 1.1rem auto;
  list-style: "-";
}

li:hover {
  background-color: #00f;
  color: #fff;
}

h2 {
  color: #c90;
  font-size: 2.3rem;
}